a:link { text-decoration: none; font-size: 9pt; color: #3399FF} a:visited { text-decoration:
none ; font-size: 9pt} a:hover { font-size: 9pt; text-decoration: none; color:
#FF9933} font { font-size: 9pt} .text { font-size: 9pt} p { font-size: 9pt} input
{ border: 1px #000000 solid; font-size: 9pt; font-family: "·s²Ó©úÅé"; border-color: #000000
solid}td { font-size: 9pt} body { font-size: 9pt} .fill { font-size: 9pt; border-color:
#E1F0FF #E1F0FF #178BFF; border-style: solid; border-top-width: 1px; border-right-width:
1px; border-bottom-width: 1px; border-left-width: 1px; background-color: #E1F0FF}
INPUT { BACKGROUND-COLOR: #7292e4; BORDER-BOTTOM: 1px groove; BORDER-LEFT: 1px
groove; BORDER-RIGHT: 1px groove; BORDER-TOP: 1px groove; COLOR: #ffffff; FONT-SIZE:
9pt }