
TD {
	COLOR: #000000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A:link {
	COLOR: #000000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A:hover {
	COLOR: #999900; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #000000; FONT-SIZE: 12px; TEXT-DECORATION: none
}

