a:link       { text-decoration: none;CURSOR:crosshair; font-size: 9pt; color: 99CCFF }
a:visited { text-decoration: 
none ;CURSOR:crosshair; font-size: 9pt; color: 99CCFF} a:hover { font-size: 9pt; text-decoration: 
none; color: #FF9933} .text { font-size: 9pt} p { 
font-size: 9pt} input { border: 1px solid; 
font-size: 9pt; font-family: "ß∫≈È"; border-color: #000000 solid}td {  font-size: 9pt; line-height: 150%}
body {  font-size: 9pt;
scrollbar-face-color:000000;
scrollbar-shadow-color:C1C1BB;
scrollbar-highlight-color:C1C1BB;
scrollbar-3dlight-color:EBEBE4;
scrollbar-darkshadow-color:EBEBE4;
scrollbar-track-color:F4F4F0;
scrollbar-arrow-color:CACAB7;}
.fill {  font-size: 9pt; border-color: #E1F0FF #E1F0FF #178BFF; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; background-color: #E1F0FF}